[mysqld]
log-bin=mysql-bin
binlog-format=ROW
character-set-server=utf8
collation-server=utf8_general_ci
bind-address=0.0.0.0
datadir=/var/lib/mysql
pid-file=/var/run/mysqld/mysqld.pid
log-error=/var/log/mysqld.log
socket=/var/lib/mysql/mysql.sock
symbolic-links=0